tags
tags-ja
cookies
dot.vim/bundle/*
dot.vim/doc/*
dot.vim/view
dot.config/karabiner/automatic_backups/*
tmux-*log
!.empty
startup.log
dot.claude/sessions/


dot.claude/backups
dot.claude/file-history
dot.claude/shell-snapshots/
settings.local.json
