Include conf.d/hosts/*

Host *
    TCPKeepAlive yes
    IdentitiesOnly yes
    # VisualHostKey yes
    ServerAliveInterval 120
    ServerAliveCountMax 10
    ForwardAgent yes
    UseKeychain yes
    AddKeysToAgent yes

    PermitLocalCommand yes
    LocalCommand       tmux rename-window %n

# Host foo
    # HostName           host or ip
    # IdentityFile       /path/to/id_rsa
    # User               oppara
    # port               22


# vim: ft=sshconfig

