<?php

declare(strict_types=1);
// -*- mode: php -*-
// vi: set ft=php :

/*
 * This document has been generated with
 * https://mlocati.github.io/php-cs-fixer-configurator/#version:3.3
 * you can change this configuration by importing this file.
 */
$config = new PhpCsFixer\Config();
return $config
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR12' => true,
        '@PhpCsFixer' => true,

        // override
        'concat_space' => 'one',
        'types_spaces' => 'single',
        'simplified_null_return' => true,
        'no_extra_blank_lines' => ['tokens' => [
            'break',
            'continue',
            'curly_brace_block',
            'extra',
            'parenthesis_brace_block',
            'return',
            'square_brace_block',
            'throw',
            'use',
        ]],
        'general_phpdoc_annotation_remove' => ['annotations' => ['class', 'package', 'author']],
        'phpdoc_align' => ['align' => 'left'],

        // migration
        'list_syntax' => ['syntax' => 'short'],
        'ternary_to_null_coalescing' => true,
        'void_return' => true,

        // risky
        'declare_strict_types' => true,
        'dir_constant' => true,
        'ereg_to_preg' => true,
        'final_internal_class' => true,
        'fopen_flag_order' => true,
        'fopen_flags' => true,
        'function_to_constant' => true,
        'is_null' => true,
        'logical_operators' => true,
        'modernize_types_casting' => true,
        'native_constant_invocation' => true,
        'native_function_invocation' => true,
        'no_alias_functions' => true,
        'no_homoglyph_names' => true,
        'no_php4_constructor' => true,
        'no_unneeded_final_method' => true,
        'no_unreachable_default_argument_value' => true,
        'php_unit_construct' => true,
        'php_unit_dedicate_assert' => true,
        'php_unit_mock' => true,
        'php_unit_namespaced' => true,
        'random_api_migration' => true,
        'self_accessor' => true,
        'set_type_to_cast' => true,
        'strict_comparison' => true,
        'strict_param' => true,
        'string_line_ending' => true,
    ])
    ->setFinder(
        PhpCsFixer\Finder::create()
    ->exclude('vendor')
    ->in(__DIR__)
    );
