snippet cat category title
	*[${1}] ${0}

snippet id
	id:hatenadiary:${1}

snippet ln link with title
	[${1}:title${2}]

snippet sp supper pre
	>|${1}|
	${0}
	||<

snippet gist
	<script src="https://gist.github.com/${1}.js"> </script>${0}

snippet pr
	>|
	${0}
	|<

snippet b blockquote
	>${1}>
	${0}
	<<
